{% load i18n %}{% autoescape off %}
{% blocktrans %}Hello {{first_name}}, {% endblocktrans %}

{% trans "You're receiving this e-mail because you've been registered for a HELIX account." %}

HELIX is a flexible software designed to help organizations clean, manage and share home energy information. 

{% trans "Please go to the following page and setup your account:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{{signup_url}}
{% endblock %}

{% blocktrans %}The HELIX Team{% endblocktrans %}

{% endautoescape %}
