<div class="section">
    <div class="section_content_container">
        <div class="section_content container-fluid">
            <div class="content_block row">
                <div id="text-block" class="col-sm-8">

                    <h1 translate>About HELIX Platform</h1>

                    <p translate>The Home Energy Labeling Information Exchange (HELIX) is a database which automatically populates real estate listings with home energy information from the U.S. Department of Energy’s Home Energy Score and other sources. The database was developed by regional stakeholders as a free software tool to allow home buyers access to home energy information in the real estate purchasing process. Learn how to get started.</p>

                    <p>HELIX is managed by NEEP, click <a href="http://www.neep.org/initiatives/energy-efficient-buildings/green-real-estate-resources/helix">here</a> for more details.</p>

                    <h2>{$:: 'Development Team' | translate $}:</h2>
                    <p>{$:: 'Managed by' | translate $}: <a href="http://www.clearlyenergy.gov/">ClearlyEnergy</a></p>
                    <p>HELIX is built on the SEED Platform&#8482; managed by: <a href="http://www.nrel.gov/">National Renewable Energy Laboratory</a></p>
                    <p>With funding from the Department of Energy:</p>

                    <h3 translate>Version</h3>
                    <p>{$:: version + '.' + sha $}</p>
                </div>
            </div>
        </div>
    </div>
</div>
