<div class="page_header_container">
    <div class="page_header">
        <div class="left page_action_container">


        </div>
        <div class="page_title">
            <h1><i class="fa fa-leaf"></i> Certifications</h1>			
        </div>
		<div class="right page_action_container" ng-show="menu.user.organization.user_role !== 'viewer'">
			<a class="create_link" ng-click="confirm_create_certification(certification, certifications)">Create New Certification</a>
		</div>
    </div>
</div>
<div class="section">
    <div class="section_content_container">
        <div class="section_content">
            <div class="table_list_container dataset_list" ng-cloak>
                <table class="table table-striped sorted">
                    <tr>
                        <th ng-repeat="c in ::columns">{$:: c.title $}</th>
                    </tr>

                    <tr ng-repeat="d in certifications" class="import_row">
	                    <form class="row action edit_file_name form form-inline edit_import_meta_form" role="form" sd-enter="save_certification_name(d)">
	                        <td class="name container-fluid">
	                            <span class="view" id="data-link-{$:: $index $}">
	                                <a ui-sref="dataset_detail(::{dataset_id: d.id})" class="import_name" ng-show="!d.edit_form_showing && menu.user.organization.user_role !== 'viewer'">{$:: d.name $}</a>
	                                <a class="delete_link" ng-click="confirm_delete_certification(d)" ng-show="!d.edit_form_showing && menu.user.organization.user_role !== 'viewer'"><i class='fa fa-trash-o'></i></a>
	                                <a class="replace_file_button edit_file_name" ng-click="edit_certification_name(d)" ng-show="!d.edit_form_showing" style="margin-right: 8px;"><i class="fa fa-pencil"></i></a>
								</span>
		                            <div class="form-group col-sm-10" ng-show="d.edit_form_showing">
		                                <label class="sr-only" for="editCertificationName">Edit Name</label>
		                                <input class="form-control input-sm" id="editCertificationName" type="text" name="name" ng-model="d.name" style="width: 100%;">
		                            </div>
	                        </td>
	                        <td class="is_aligned_left">
								<span ng-show="!d.edit_form_showing">{$:: d.award_body $}</span>
	                            <div class="form-group col-sm-8" ng-show="d.edit_form_showing">
	                                <label class="sr-only" for="editCertificationAwardBody">Edit Name</label>
	                                <input class="form-control input-sm" id="editCertificationAwardBody" type="text" name="award_body" ng-model="d.award_body" style="width: 100%;">
	                            </div>
							</td>
	                        <td class="is_aligned_left">{$:: d.recognition_type $}</td>
	                        <td class="is_aligned_center">{$:: d.is_numeric_score ? '&#10004;':'' $}</td>
	                        <td class="is_aligned_left">{$:: d.validity_duration ? d.validity_duration + ' Days' : ''  $}</td>
	                        <td class="is_aligned_center">{$:: d.is_reso_certification ? '&#10004;':'' $}</td>
	                        <td class="is_aligned_left">
								<span ng-show="!d.edit_form_showing">{$:: d.description | limitTo:100 $}{$:: d.description.length > 100 ? '...' : '' $}</span>
                                <div class="form-group col-sm-8" ng-show="d.edit_form_showing">
                                    <label class="sr-only" for="editCertificationDescription">Edit Description</label>
                                    <input class="form-control input-sm" id="editCertificationDescription" type="text" name="description" ng-model="d.description" style="width: 100%;">
								</div>
                                <div class="form-group col-sm-4" ng-show="d.edit_form_showing">								
                                    <button type="button" class="cancel_button btn btn-sm" ng-click="cancel_edit_name(d)" value="Cancel" style="text-align: right;">Cancel</button>
                                    <button type="button" class="submit_button btn btn-sm btn-primary" ng-click="save_certification_name(d)" ng-disabled="d.name === d.old_name" value="Save">Save</button>
                                </div>
							</td>
	                    </form>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
