<div class="section">
    <div class="section_content_container">
        <div class="section_content container-fluid">
            <div class="content_block row">
                <div id="text-block" class="col-sm-8">
                    <h1>Frequently Asked Questions</h1>
					<h3>What are the allowed file formats to upload data into HELIX?</h3>
					You can upload Excel files (.xls, .xlsx), CSV and XML files into HELIX.
					<h3>What Green Certifications are allowed in HELIX?</h3>
					You can add new certification types by going to the <a id="sidebar-assessments" title="Assessments"  href="{% url "seed:home" %}#/assessments">certifications</a> tab.
					
                    <h1>Contact</h1>

					<h2>For HELIX-Platform Documentation:</h2>
					
                    <h2>For SEED-Platform Documentation:</h2>
                    <p>Please visit our User Support website for tutorials and documentation to help you learn how to use SEED-Platform. </p>

                    <p style="margin-left: 2em;"><a href="https://sites.google.com/a/lbl.gov/seed/">https://sites.google.com/a/lbl.gov/seed/</a></p>

                    <p>For direct help on a specific problem, please email:</p>

                    <p style="margin-left: 2em;"><a href="mailto:info@clearlyenergy.com">info@clearlyenergy.com</a></p>

                    <h2>For Developers:</h2>

                    <p>The HELIX Open Source code will be made available at the conclusion of the development phase:</p>

                    <p>The SEED Open Source code is available on the Github organization SEED-Platform:</p>

                    <p style="margin-left: 2em;"><a href="https://github.com/SEED-platform">https://github.com/SEED-platform</a></p>

                    <p>Please join the SEED-Platform Dev forum where you can connect with other developers.</p>

                    <p style="margin-left: 2em;"><a href="https://groups.google.com/forum/#!forum/seed-platform-dev">https://groups.google.com/forum/#!forum/seed-platform-dev</a></p>

                </div>
            </div>
        </div>
    </div>
</div>


