<div class="modal-header">
    <h4 class="modal-title">Delete your Certification</h4>
</div>
<div class="modal-body row">
    <div class="col-sm-12">Are you sure you want to delete the certification, <strong>{$ certification.name $}</strong>?</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-danger" ng-click="delete_certification()" autofocus>Yes, Delete Certification</button>
</div>
