<div class="section">
  <div class="section_content_container">
    <div class="section_content">
      <div class="home_jump_nav_container">
        <div class="home_jump_nav">
          <a id="nav-inventory" ui-sref="inventory_list({inventory_type: 'properties'})"><i class="fa fa-home"></i>{$:: 'Inventory' | translate $}</a>
          <a id="nav-data" ui-sref="dataset_list" ng-show="::menu.user.organization.user_role !== 'viewer'"><i class="fa fa-sitemap"></i>{$:: 'Data' | translate $}</a>
          <a ui-sref="contact"><i class="fa fa-question-circle"></i>{$:: 'Contact' | translate $}</a>
        </div>
      </div>
      <div class="jumbotron" style="background: url('/static/seed/images/HELIX-SEED-banner-2049x402.jpg') no-repeat;">
        <div class="home_hero_content_container">
          <h1 translate>HELIX</h1>
		  <p translate>The Home Energy Labeling Information Exchange (HELIX) is a database which automatically populates real estate listings with home energy information from the U.S. Department of Energy’s Home Energy Score and other sources. The database was developed by regional stakeholders as a free software tool to allow home buyers access to home energy information in the real estate purchasing process. Learn how to get started.</p>

          <p><a data-toggle="modal" data-target="#dataUploadModal" ng-click="open_data_upload_modal()" class="btn btn-primary btn-lg" role="button" ng-hide="menu.user.organization.user_role === 'viewer'"><i class="fa fa-cloud-upload"></i>&nbsp;&nbsp;Upload your buildings list</a> <a ng-href="{$ urls.static_url $}seed/pdf/HELIX_V1_2 Getting Started Guide.pdf" target="_blank" title="HELIX_v1_User_Guide" class="btn btn-warning btn-lg" role="button"><i class="fa fa-file-text"></i>&nbsp;&nbsp;Getting Started Guide</a> <a href="https://drive.google.com/open?id=1HN67bed2e6nGeLuLuo_jNjgDXqnDE5T-" target="_blank" title="Instructional Video" class="btn btn-warning btn-lg" role="button"><i class="fa fa-file-video-o"></i>&nbsp;&nbsp;Instructional Video</a></p>
        </div>
      </div>
      <div class="whats_new_container">
        <div class="whats_new">
          <h2 translate>Highlights of HELIX Platform</h2>

          <div class="row">
            <div class="content_col col-md-4">
              <div class="content_col_header">
                <div class="content_col_header_left">
                  <span><i class="fa fa-cloud-upload"></i></span>
                </div>
                <div class="content_col_header_right">
                  <h3 translate>Manual Data Upload</h3>
                </div>
              </div>
              <div class="copy">

                <p translate>MARKETING_BULLET_1</p>

                <p><a ng-href="{$ urls.static_url $}seed/sample-data/helix-sample-data.zip" class="btn btn-info" role="button"><i class="fa fa-cloud-download"></i>&nbsp;&nbsp;Download Sample Data</a></p>


              </div>
            </div>
            <div class="content_col col-md-4">
              <div class="content_col_header">
                <div class="content_col_header_left">
                  <span><i class="fa fa-exchange"></i></span>
                </div>
                <div class="content_col_header_right">
                  <h3 translate>Synchronize Data</h3>
                </div>
              </div>
              <div class="copy">
                <p translate>MARKETING_BULLET_2</p>
              </div>
            </div>
            <div class="content_col col-md-4">
              <div class="content_col_header">
                <div class="content_col_header_left">
                  <span><i class="fa fa-check-square"></i></span>
                </div>
                <div class="content_col_header_right">
                  <h3 translate>Easy Export</h3>
                </div>
              </div>
              <div class="copy">
                <p translate>MARKETING_BULLET_3</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
