<div class="modal-header">
    <h4 class="modal-title" id="exportModalLabel" ng-show="pvwatts_state === 'verify'">Calculate solar production</h4>
    <h4 class="modal-title" id="exportModalLabel" ng-show="pvwatts_state === 'calculate'">Calculating solar production now...</h4>
    <h4 class="modal-title" id="exportModalLabel" ng-show="pvwatts_state === 'result'">Solar production calculation Complete</h4>
</div>
<div class="modal-body">

  <strong>Total Selected: {$ total_selected_count|number:0 $}</strong>
  
  <!-- Comments to the user hinting the state the user is in. -->
  <div ng-show="pvwatts_state === 'verify'">
    <div>Here's a summary of the properties selected to have their solar production calculated. Please verify before continuing.</div>
  </div>

  <div ng-show="pvwatts_state === 'calculate'">
    <div>Currently calculating</div>
  </div>

  <br>
    <div ng-show="pvwatts_state === 'result'">
        <div ng-if="properties_calculated > 0">
	        <div class="alert alert-info">
                <li ng-if="properties_calculated">{$ properties_not_calculated|number:0 $} solar production estimates not added</li>
            </div>

        </div>
        <div ng-if="properties_exists > 0">
	        <div class="alert alert-info">
                <li ng-if="properties_exists">{$ properties_exists|number:0 $} solar production already exists</li>
            </div>

        </div>
        <div ng-if="properties_calculated > 0">
	        <div class="alert alert-success">
                <li ng-if="properties_calculated">{$ properties_calculated|number:0 $} solar production estimates added</li>
            </div>
        </div>
        <div ng-if="properties_errors.length > 0">
	        <div class="alert alert-danger">
				<div ng-repeat="error in properties_errors">
	                <li>{$ error $}</li>					
				</div>
            </div>
        </div>
    </div>
  
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="calculate_production()" ng-show="pvwatts_state === 'verify'">Calculate Solar Production</button>
  <button type="button" class="btn btn-default" ng-show="pvwatts_state === 'verify'" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-default" ng-show="pvwatts_state === 'result'" ng-click="close()">Close</button>
</div>
