
<div class="page_header_container">
    <div class="page_header">
        <div class="left page_action_container"></div>
            <div class="page_title">
                <h1>Certification Edit</h1>
            </div>
        <div class="right page_action_container"></div>
    </div>
</div>

<div class="section">

    <div class="section_header_container">
        <div class="section_header">
            <i class="fa fa-leaf"></i><h2>Editing Certification {{ assessment.name }}</h2>
        </div>
    </div>

    <div class="section_content_container">
        <div class="section_content">
            <form class="form-horizontal" role="form" id='update_form' 
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="name">Name:</label>
                        <div class="col-sm-8">
                            <input type='text' class="form-control" id='name' name='name' value="{{ assessment.name }}" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="award_body">Award Body:</label>
                        <div class="col-sm-8">
                            <input type='text' class="form-control" id='award_body' name='award_body' {% if assessment.award_body != None %} value="{{ assessment.award_body }}" {% endif %}>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="recognition_type">Recognition Type:</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="recognition_type" name='recognition_type' form='update_form' required>
                               <option selected hidden value="{{ assessment.recognition_type }}">{{ assessment.get_recognition_type_display }}</option>
                               <option value='SCR'>Score</option>
                               <option value='CRT'>Certification</option>
                               <option value="AWD">Award</option>
                               <option value="LBL">Label</option>
                               <option value="PRT">Participant</option>
                               <option value="RAT">Rating</option>
                               <option value="ZER">Zero Energy Ready home</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-hide="recognition_type === 'CRT' || recognition_type === 'AWD' || recognition_type === 'LBL' || recognition_type === 'PRT' || recognition_type === 'ZER'">
                        <label class="control-label col-sm-3" for="is_numeric_score">Numeric:</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="checkbox" id="is_numeric_score"  name="is_numeric_score" value='True' {% if assessment.is_numeric_score %} checked {% endif %}>
                        </div>
                    </div>

<!-- 
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="is_integer_score">Integer:</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="checkbox" id="is_integer_score"  name="is_integer_score" value='True'{% if assessment.is_numeric_score %} checked {% endif %}>
                        </div>
                    </div>
-->
<!--
                   <div class="form-group">
                        <label class="control-label col-sm-3" for="disclosure_default">Default Disclosure Rule:</label>
                        <div class="col-sm-8">
                            <input type='text' class="form-control" id='disclosure_default' name='disclosure_default' value="{{ assessment.disclosure_default}}" placeHolder='Enter the default disclosure rule for individual assesments (can be overriden in the individual assessment):'>
                        </div>
                    </div>
-->

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="name">Description:</label>
                        <div class="col-sm-8">
                            <textarea type=textarea rows="3" class="form-control" id='description' name='description'>{{ assessment.description }}</textarea>
                        </div>
                    </div>
					
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="validity_duration">Validity in Days:</label>
                        <div class="col-sm-8">
                            <input type='number' class="form-control" id='validity_duration' name='validity_duration' value="{{ assessment.validity_duration.days }}"}>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="submit"></label>
                        <button class="col-sm-8 btn btn-primary"  onclick="update_assessment()">Update Certification</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
function update_assessment(){
    var update_req = new XMLHttpRequest();
    update_req.onreadystatechange = function(){
        if (update_req.readyState == 4 && update_req.status == 200) {
            window.location.replace('/app/#/certifications');
        }
    }
    update_req.open("PUT","/api/v2/green_assessments/{{ assessment.pk }}/?organization_id={{ assessment.organization.pk }}");
    update_req.setRequestHeader('X-CSRFToken',document.getElementsByName('csrfmiddlewaretoken')[0].value);

    data = new FormData(document.getElementById('update_form'));
    update_req.send(data);
}
</script>
