{% extends "seed/base.html" %}
{% block content %}
        <h1>HELIX HES Upload Interface</h1>

        <h2>Upload Single HES Building</h2>

        <form action='/helix/helix-hes/' method="POST">
            {% csrf_token %}
            HES User:
            <input type="text" name="user_name" value="TST-HELIX"><br>
            HES Password:
            <input type="text" name="password" value="helix123"><br>
            HES API Key
            <input type="text" name="user_key" value="520df908c6cb4bea8c14691ee95aff88"><br>
            HES Building ID:
            <input type="text" name="building_id" value="142860"><br>
            Dataset ID:
            <input type="number" name="dataset"><br>
            Cycle ID:
            <input type="number" name="cycle"><br>
            <input type=submit>
        </form>

        <h2>Upload HELIX csv File</h2>
        <form action='/helix/helix-csv-upload/' method='post'  enctype="multipart/form-data">
            {% csrf_token %}
            HES API Key:<br>
            <input type="text" name="user_key" value="ce4cdc28710349a1bbb4b7a047b65837"><br>
            HELIX csv File:<br>
            <input type="file" name="helix_csv">
            <input type="submit" value="Press for CSV Upload!">
        </form>

{% endblock %}

{% block js %}
        <script>
            //consider rewriting this using angular js to be consistent with
            //existing seed javascript
            function get_hes_data() {
                var user_key = document.getElementById('user_key').value
                var building_id = document.getElementById('building_id').value

                var req = new XMLHttpRequest()
                req.onreadystatechange = function() {
                    if (req.readyState == 4 ) {
                        if (req.status == 200){
                            document.getElementById('result').innerHTML = "Upload successfull"
                        } else {
                            document.getElementById('result').innerHTML = "Upload failed"
                        }

                    }
                }
                req.open("GET","/helix/helix-hes/?user_key="+user_key+"&building_id="+building_id)
                req.send()
            }
        </script>
{% endblock %}
