
/*color change for organization name and the drop down list on the top right corner */

.display .content .header .add_menu_container .btn-group ul.dropdown-menu li a{
	font-family: "Roboto","PT Sans Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#00a0af;
}

.display .content .header .add_menu_container .btn-group .btn{
	color:#00a0af;
}

.jumbotron {
  background: url('../images/pexels-photo-243722.jpg') no-repeat;
}

.ui-grid-header-cell .ui-grid-cell-contents {
     height: 48px;
     white-space: normal;
     -ms-text-overflow: clip;
     -o-text-overflow: clip;
     text-overflow: clip;
     overflow: visible;
}

#logo_text_link > a {
	color: black;
    text-decoration: none;
}
#logo_text_link > a:hover {
	color: #00a0af;	
}

/* Color for the text */
a, a:active, a:visited{
  color:#00a0af; 
  text-decoration: none;
}

/*underline for focus */

a:focus, a:hover {
        color:#00a0af;
    text-decoration: underline;
}

/* Color for the buttons */ 
.btn-primary, .btn-primary:active, .btn-primary:hover, .btn-primary:visited, .btn-primary:focus,
.btn-prmary:active:focus, .btn-primary:active:hover{
    color: #fff ;
    background-color: #00a0af;
    border-color: #00a0af;
}

.btn-info, .btn-info.active, .btn-info:active, .btn-info:hover, .btn-info:focus, .btn-info:visited,
.btn-prmary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-info{
        color:#fff;
        background-color:#00a0af;
        border-color: #00a0af;
}

/* color for disabled buttons */

.btn-primary[disabled]:hover{
    background-color: #00a0af;
    border-color: #00a0af;
}

